cryptography==37.0.4
pip==22.2.1
pytz==2022.2.1
Django==4.0.6
sqlparse==0.4.2
asgiref==3.5.2
django-allauth==0.51.0
requests==2.28.1
PyJWT==2.4.0
certifi==2022.6.15
tzlocal==4.2
six==1.16.0
oauthlib==3.2.0
idna==3.3
urllib3==1.26.11
pycparser==2.21
setuptools==63.2.0
APScheduler==3.9.1
django-filter==22.1