{% extends 'default.html' %}



{% block content %}


<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <form method="POST">
                {% csrf_token %}
                {{ form }} <!-- Теперь нам нужна только готовая форма и кнопка -->
                <input type="submit" value="Добавить пост">
            </form>
        </div>
    </div>
</div>

{% endblock content %}