{% extends 'default.html' %}



{% block content %}


<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h2>Вы действительно хотите удалить данный пост?</h2>
            <div class="post-preview">
                <h2 class="post-title">{{ post.heading_post }}</h2>
                <p class="post-subtitle">{{ post.text_post }} </p>
                <p class="post-meta">
                    Опубликовано: {{ post.time_post|date:'M d Y h:m' }}

                </p>
                <form method="POST">
                {% csrf_token %}
                <input type="submit" value="подтвердить"></form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}