{% extends 'default.html' %}
{% load custom_filters %}

{% block content %}

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for post in posts %}
            <div class="post-preview">
                <a href="/{{post.pk}}">
                    <h2 class="post-title">{{ post.heading_post|censor }}</h2>
                    <h3 class="post-subtitle">{{ post.text_post|truncatewords:50|censor }} </h3>
                </a>
                <p class="post-meta">
                    Опубликовано: {{ post.time_post|date:'M d Y h:m' }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}